<div class="col-sm-4 text-center">
    <img class="img-responsive-cadre" src="http://placehold.it/750x450" alt="">
    <div class="text-img">
        <h4>Titre dessert</h4>
        <a href=""><button class="link-text-img btn">Lire</button></a>
        <p>Ajouté le 3 juillet 2016</p>
    </div>
</div>