{# empty Twig template #}
{% extends "PPCoreBundle::layout.html.twig" %}

{% block pp_body %}
<div class="container">
        <div class="row">
            <div class="box">
                <h2 class="text-center">Titre sorte</h2>
                {{ include("PPCoreBundle:Views:bloc.html.twig") }}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>   
{% endblock %}
     



